<div class="card ">
    <div class="container">
        <div class="fw-bold header row mb-3">Cal-C</div>
        <!-- display block -->
        <div class="row mb-3">
            <input type="text" class="text-input" [formControl]="inputDisplay">
        </div>
        <div class="btn-container mb-3">
            <!-- 1st row -->
            <div class="row">
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="clearAll()">C</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="operatorClick('%')">%</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="del()">&lt;</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="operatorClick('/')">&divide;</button>
                </div>
            </div>
            <!-- 2nd row -->
            <div class="row">
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('7')">7</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('8')">8</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('9')">9</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="operatorClick('*')">&times;</button>
                </div>
            </div>
            <!-- 3rd row -->
            <div class="row">
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('4')">4</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('5')">5</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('6')">6</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="operatorClick('-')">-</button>
                </div>
            </div>
            <!-- 4th row -->
            <div class="row">
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('1')">1</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('2')">2</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('3')">3</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="operatorClick('+')">+</button>
                </div>
            </div>
            <!-- 5th row -->
            <div class="row">
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('00')">00</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('0')">0</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="numClick('.')">.</button>
                </div>
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-outline-dark" (click)="operatorClick('=')">=</button>
                </div>
            </div>
        </div>
    </div>
</div>